#Home{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FEFCFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Home h1{
    margin-left:0rem;
}

.btn{
    width: 20vw;
    height: 60px;
    background-color:#1282A2 ;
    color: #FEFCFB;
    font-size: 1.2rem;
}

#Home a {
    text-decoration: none;
    color: #FEFCFB;
}

.btn:hover{
    opacity: 0.9;
    width: 22vw;
    height: 60px;
    background-color: var(--WhiteColor);
    border: 1px solid var(--BlueColor);
    border-radius: 1rem;
}


@media screen and (max-width:1024px){
    #Home{
        padding-top: 2rem;
    padding-bottom: 2rem;
    
    }
    #Home h1{
        margin-left: 0;
    }

    .btn{
        width: 20vw;
        height: 60px;
        background-color:#1282A2 ;
        color: #FEFCFB;
        font-size: 1.2rem;
    }

    .btn:hover{
        opacity: 0.9;
        width: 22vw;
        height: 60px;
        background-color: var(--WhiteColor);
        border: 1px solid var(--BlueColor);
        border-radius: 1rem;
    }

    

}


@media screen and (max-width:480px){
    #Home{
        padding-top: 5rem;
        padding-bottom: 5rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #Home h1{
        margin-left: 1.5rem;
    }
        
    .btn{
        width: 62vw;
        height: 60px;
        background-color:#1282A2 ;
        font-size: 0.8rem;
    }
    
    .btn:hover{
        opacity: 0.9;
        width: 64vw;
        height: 60px;
        background-color: var(--WhiteColor);
        border: 1px solid var(--BlueColor);
    }
    
   

}