* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}

:root{
    --BlueColor: #1282A2;
    --WhiteColor:#FEFCFB;
    --BlackColor:#312F2F;
}

a{
    text-decoration-color: none;
    
}