
img.logo {
    height: 80px;
}
.hero {
    background: rgba(255, 169, 135, 0.1);
    height: 100vh;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px 20px 90px;
}
.btns {
    display: flex;
    align-items: center;
}
.rhs {
    display: flex;
    align-items: center;
}
ul.nav {
    display: flex;
    align-items: center;
}
ul.nav li {
    margin-left: 60px;
    color: #480403;
    font-weight: 600;
}
ul.nav li:hover {
    color: #702c2b;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
button.modeBtn {
    background-color: #FFFEFC;
    border: 0;
    outline: 0;
    box-shadow: 0px 3px 7px rgba(72, 4, 3, 0.05);
    padding: 10px 10px 7px 10px;
    border-radius: 20px;
}
.hamburger {
    display: none;
}
button.resume {
    background: #480403;
    border-radius: 4px;
    color: #FFFFFF;
    outline: 0;
    border: 1px solid #480403;
    padding: 12px 35px;
    font-size: 16px;
}
.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;       
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
}
.bottom-hero {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding-left: 90px;
    margin-top: 20px;
    margin-top: 100px;
    padding-right: 28px;
}
img.light-dots {
    height: 450px;
    position: relative;
}
img.first-pic {
    height: 418px;
    position: absolute;
    left: 896px;
}
.right-part {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 1;
}
p.hi {
    font-size: 25px;
}
h1.top {
    font-size: 38px;
    color: #480403;
    position: relative;
    margin: 20px 0px;
}
h1.top::after {
    position: absolute;
    content: '';
    height: 6px;
    bottom: 7px;
    background: #FFA987;
	left: 0;
    right: 0;
    z-index: -1;
    width: 62%;
}
p.title {
    color: #C4C4C4;
}
p.brief {
    width: 70%;
    margin: 20px 0px;
    color: #5F6368;
}
.Cta-btns {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
button.view {
    background-color: transparent;
    border: 2px solid #480403;
    padding: 12px 35px;
    border-radius: 4px;
    color: #480403;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    margin-left: 30px;
}
button.view:hover {
    background-color: #480403;
    color: #FFFFFF;
    transition: all 0.4s ease-in-out;
}
.fab {
    color: #fff;
    font-size: 3.8vmin;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
}
.mobile-nav {
    display: none;
    align-items: center;
    text-align: center;
    color: #480403;
    padding-top: 1px;
    background: rgba(255, 169, 135, 0.04);
    padding-bottom: 40px;
    height: 100vh;
}
.mobile-nav li {
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
}
.hide {
    display: block !important;
}
.about {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20vh 70px 20vh 90px;
}
img.abt {
    height: 400px;
}
.rightt {
    position: relative;
}

.rightt .btn {
    position: absolute;
    top: 83.6%;
    left: 41.5%;
    transform: translate(2%, -23%);
    -ms-transform: translate(2%, -23%);
    cursor: pointer;
    text-align: center;
}


.head {
    box-shadow: 0px 4px 10px rgba(18, 18, 18, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFFBF9;
    z-index: 100;
}
header {
    padding: 10px 100px;
    background: rgba(255, 169, 135, 0.04);
}
img.hero-pic {
    height: 570px;
}

/* Media Queries */

/* For Large screens */
@media (min-width: 1900px) {
    .head {
        box-shadow: 0px 4px 10px rgba(18, 18, 18, 0.05);
        position: fixed;
        top: 0;
        width: 100%;
        background: #FFFBF9;
        z-index: 100;
        height: 10vh;
    }
    header {
        padding: 10px 100px;
        background: rgba(255, 169, 135, 0.04);
    }
    .bottom-hero {
        padding-left: 100px;
        height: 90vh;
        justify-content: center;
        padding-right: 20px;
        margin-top: 50px;
    }
    .hero {
        height: 100vh;
    }
    .partiku {
        height: 100vh;
    }
    p.brief {
        margin: 30px 0px;
        width: 60%;
    }
    p.brief, p.title {
        font-size: 18px;
    }
    h1.top {
        font-size: 43px;
    }
    h1.top::after {
        bottom: 10px;
        position: absolute;
        width: 40%;
    }
    img.hero-pic {
        height: 800px;
    }
    .right-part {
        width: 40%;
    }
    .left-part {
        width: 60%;
    }
    .glowing ul li {
        width: 6vmin;
        height: 6vmin;
    }
    .fab {
        font-size: 3.4vmin;
    }
    h2::after {
        left: 15%;
    }
    .about {
        height: inherit;
    }
    img.abt {
        height: 450px;
    }
    .rightt .btn {
        top: 86.2%;
        left: 48.2%;
        transform: translate(2%, -50%);
        -ms-transform: translate(2%, -50%);
    }
    .experience {
        height: auto;
        padding-bottom: 150px;
    }
    .proj1, .proj2, .proj3 {
        height: 350px;
        width: 400px;
    }
    .proj2, .proj1 {
        margin-right: 150px;
    }
    h2.workHeader {
        padding-left: 100px;
    }
}

/* For Big Tablet */


/* For Tablet */
@media (max-width: 768px) and (min-width: 500px) {
    .hamburger {
        display: block;
    }
    .navs {
        display: none;
    }
    header {
        padding: 15px 50px;
        background: rgba(255, 169, 135, 0.04);
    }
    .partiku {
        height: 100vh;
    }
    .head {
        box-shadow: 0px 4px 10px rgba(18, 18, 18, 0.05);
        position: fixed;
        top: 0;
        width: 100%;
        background: #FFFBF9;
        z-index: 100;
    }
    button.modeBtn {
        margin-right: 80px;
    }
    .bottom-hero {
        display: block;
        padding-left: 50px;
        margin-top: 90px;
        padding-top: 150px;
    }
    .right-part {
        display: none;
    }
    h1.top {
        font-size: 45px;
        margin: 30px 0px;
        position: relative;
    }
    h1.top::after {
        width: 65%;
        bottom: 10px;
        position: absolute;
    }
    p.title {
        font-size: 25px;
    }
    p.brief {
        width: 100%;
        font-size: 20px;
        margin: 30px 0px 35px 0px;
    }
    button.resume, button.view {
        font-size: 18px;
    }
    .about{
        display: block;
        padding: 100px 0px 100px 50px;
        font-size: 18px;
    }
    h2::after {
        left: 25%;
        bottom: 15px;
    }
    .set {
        font-size: 23px !important;
    }
    img.abt {
        height: 430px;
        margin-top: 50px;
    }
    .rightt .btn {
        top: 87.2%;
        left: 23%;
        transform: translate(2%, -50%);
        -ms-transform: translate(2%, -50%);
    }
    .experience {
        padding: 100px 0px 100px 50px;
        font-size: 18px;
        height: inherit;
    }
    .tabbed {
        display: block;
        margin-top: 40px;
    }
    ul.company {
        display: flex;
        overflow-x: auto;
        margin-bottom: 30px;
        font-size: 18px;
    }
    .tabbed-right {
        padding-right: 0px;
        width: 90%;
        margin-top: 70px;
    }
    h2.work::after {
        left: 40%;
        width: 30%;
    }
    ul.company li.opti {
        border-bottom: 2px solid #480403;
        border-left: 0px !important;
        background-color: #4804031a;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0px;
    }
    ul.company li {
        border-left: 0px;
        border-bottom: 2px solid #C4C4C4;
        text-align: center;
        padding-bottom: 10px;
    }
    h2.workHeader {
        padding-left: 50px;
        font-size: 27px;
    }
    h2.workHeader::after {
        left: 31%;
        width: 30%;
    }
    .firstThree, .secondThree, .thirdThree {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }
    .worksContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .proj1, .proj2, .proj3 {
        width: 450px;
        height: 350px;
        padding: 20px 40px;
    }
    .proj1, .proj2 {
        margin-right: 0px;
        margin-bottom: 70px;
    }
    .thirdThree {
        display: none;
    }
    .none {
        display: block;
    }
    p.headDeets {
        width: 80%;
    }
    form {
        width: 80%;
    }
    .contact {
        padding-left: 25px;
        padding-right: 25px;
    }
    .topFoot {
        padding: 20px 50px;
    }
}



/* For Mobile phones */
@media (max-width: 540px){
    .hamburger {
        display: block;
    }
    .navs {
        display: none;
    }
    .hero {
        height: 100vh;
    }
    .partiku {
        height: 100vh;
    }
    header {
        padding: 15px 25px 15px 25px;
        background: rgba(255, 169, 135, 0.04);
    }
    .head {
        box-shadow: 0px 4px 10px rgba(18, 18, 18, 0.05);
        position: fixed;
        top: 0;
        width: 100%;
        background: #FFFBF9;
        z-index: 100;
    }
    button.modeBtn {
        margin-right: 35px;
    }
    .bottom-hero {
        display: block;
        padding-left: 25px;
        padding-right: 20px;
        margin-top: 90px;
        padding-top: 70px;
    }
    .right-part {
        display: none;
    }
    img.logo {
        height: 65px;
    }
    h1.top {
        font-size: 35px;
        margin: 30px 0px;
    }
    h1.top::after {
        width: 96%;
        bottom: 6px;
    }
    p.title {
        font-size: 17px;
    }
    p.brief {
        width: 100%;
        font-size: 19px;
        margin: 25px 0px 35px 0px;
    }
    .glowing ul li {
        width: 12vmin;
        height: 12vmin;
    }
    .fab {
        font-size: 6vmin;
    }
    .about{
        display: block;
        padding: 20px 0px 100px 25px;
    }
    h2::after {
        left: 38%;
    }
    ul.skill {
        display: none;
    }
    ul.skillmb {
        display: block;
    }
    .flex {
        justify-content: space-between;
    }
    img.abt {
        height: 350px;
        margin-top: 30px;
    }
    .rightt .btn {
        top: 86.1%;
        left: 27.5%;
        transform: translate(2%, -50%);
        -ms-transform: translate(2%, -50%);
    }
    .experience {
        padding: 80px 20px 20px 25px;
    }
    .tabbed {
        display: block;
        margin-top: 40px;
    }
    li.mid, li.top, li.last, li.opti, li.bees {
        padding-top: 10px !important;
    }
    ul.company {
        display: flex;
        overflow-x: auto;
        margin-bottom: 30px;
    }
    ul.company::-webkit-scrollbar {
        height: 1px;
    }
    ul.company::-webkit-scrollbar-track {
        background: transparent;
    }
    ul.company::-webkit-scrollbar-thumb {
        background: #C4C4C4; 
    }
    ul.company li {
        border-left: 0px;
        border-bottom: 2px solid #C4C4C4;
        padding: 0px 20px;
        min-width: 120px;
        text-align: center;
        padding-bottom: 10px;
    }
    ul.company li.opti {
        border-bottom: 2px solid #480403;
        border-left: 0px;
        background-color: #4804031a;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0px;
    }
    .tabbed-right {
        padding-right: 0px;
        width: 90%;
        margin-top: 70px;
    }
    ul.doings {
        padding-left: 15px;
    }
    p, li {
        font-size: 17px;
    }
    h2.work::after {
        left: 60%;
        width: 25%;
    }
    h2.workHeader {
        padding-left: 25px;
    }
    h2.workHeader::after {
        left: 44%;
        width: 30%;
    }
    .firstThree, .secondThree, .thirdThree {
        display: block;
        margin-top: 50px;
    }
    .worksContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 25px;
        margin-top: 0px;
    }
    .contWork {
        justify-content: flex-start;
    }
    .proj1, .proj2 {
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .proj1, .proj2, .proj3 {
        width: 360px;
    }
    button.viewMore {
        margin: 60px 0px;
    }
    .thirdThree {
        display: none;
    }
    .none {
        display: block;
    }
    p.headr {
        font-size: 30px;
        text-align: center;
    }
    p.headDeets {
        width: 100%;
    }
    form {
        width: 100%;
    }
    .contact {
        padding-left: 25px;
        padding-right: 25px;
    }
    .flexr {
        display: block;
    }
    input[type="text"]{
        margin-right: 0px;
        height: 50px;
    }
    input[type="email"]{
        margin-top: 30px;
        height: 50px;
    }
    button[type="submit"]{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .topFoot {
        display: block;
        padding: 25px;
        text-align: center;
    }
    p.code {
        margin-top: 30px;
    }
}

@media (max-width: 600px) and (min-width: 540px) {
    .hero {
        height: 100vh;
    }
    h1.top::after {
        width: 71%;
        bottom: 7px;
    }
    .glowing ul li {
        width: 10vmin;
        height: 10vmin;
    }
    .fab {
        font-size: 5.7vmin;
    }
    .about {
        padding: 50px 25px;
        height: inherit;
    }
    .set {
        font-size: 17px !important;
    }
    button.resume, button.view {
        font-size: 14px;
    }
    .rightt .btn {
        top: 86.2%;
        left: 26%;
    }
    .experience{
        padding-bottom: 100px;
    }
    .contWork {
        justify-content: center;
    }
    .worksContainer {
        padding-left: 0px;
    }
    .proj1, .proj2, .proj3 {
        width: 330px;
        height: 290px;
    }
    p.headr {
        font-size: 35px;
    }
    p.headDeets, form {
        width: 95%;
    }
}

